@charset "UTF-8";
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --Bebas: "Bebas Neue", sans-serif;
  --Inter: "Inter", sans-serif;
  --White: #ffffff;
  --Dark: #1d1d1b;
  --Dark-mod-1: rgba(29, 29, 27, 0.7);
  --Line: #d4d4d4;
  --Line-mod: rgba(212, 212, 212, 0.3);
  --LightGrey: #f2f2f2;
  --Orange: #fe7f00;
  --PinkRed: #cc1e4b;
  --Yellow: #ffdd00;
  --Orange-Yellow: #ffb00b;
  --DeepPurple: #662d91;
  --BrightGreen: #52ae27;
  --VividRed: #db0707;
  --Red: #DE1016;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-size: 16px;
  font-family: var(--Inter);
  position: relative;
  overflow-x: hidden;
  background-color: var(--Orange, #fe7f00);
  color: var(--Dark-mod-1);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Bebas);
  color: var(--Dark);
  line-height: 1.3;
}

p:not([class]):first-of-type {
  margin-top: 0;
}

a:not([class]) {
  color: var(--Orange, #fe7f00);
  font-style: normal;
  text-decoration-line: underline;
  transition: all 0.3s;
}
a:not([class]):hover, a:not([class]):focus, a:not([class]):active {
  color: var(--PinkRed, #CC1E4B);
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  max-width: 100%;
  width: 100%;
  border-radius: 20px;
  background: var(--White, #fff);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2) inset;
  outline: none;
  border: none;
  padding: 10px 20px;
}

textarea {
  resize: none;
}

.to-right {
  margin-right: 0;
  margin-left: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.content {
  padding: 60px 65px;
  border-radius: 48px;
  background: var(--White);
  max-width: 1185px;
  width: 100%;
  margin-inline: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
.content--mod {
  background: transparent;
}
@media (max-width: 767px) {
  .content {
    padding: 30px 25px;
  }
}

.button-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--White);
  width: 45px;
  height: 45px;
  border: none;
  padding: 0;
  max-width: initial;
  max-height: initial;
  min-height: initial;
  background-color: transparent;
  flex-shrink: 0;
}
.button-menu::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45' fill='none'%3e%3cpath d='M22.6366 0H22.5546C4.40779 0 0.068306 4.30014 0 22.3292C0.068306 40.8228 4.18921 45 22.4727 45C40.8381 45 44.9317 40.8228 45 22.3292C44.918 4.09516 40.8245 0 22.6366 0Z' fill='%23CC1E4B'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
.button-menu span, .button-menu span::after, .button-menu span::before {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: var(--White);
  z-index: 2;
}
.button-menu span::after, .button-menu span::before {
  content: "";
  display: block;
  transition: 0.3s;
}
.button-menu span::before {
  transform: translateY(-8px);
}
.button-menu span::after {
  transform: translateY(8px);
}
.button-menu.isActive span {
  height: 0;
}
.button-menu.isActive span:before {
  transform: rotate(-45deg);
}
.button-menu.isActive span:after {
  transform: rotate(45deg);
}
.button-menu.button-custom:hover::before {
  scale: 1.15;
}
@media (max-width: 767px) {
  .button-menu span, .button-menu span::after, .button-menu span::before {
    width: 18px;
  }
  .button-menu span::before {
    transform: translateY(-6px);
  }
  .button-menu span::after {
    transform: translateY(6px);
  }
}
@media (max-width: 374px) {
  .button-menu {
    width: 45px;
    height: 45px;
  }
}

.section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  transition: initial;
  transform: initial;
  position: initial;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 0;
  left: initial;
  right: initial;
  width: 65px;
  height: 65px;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 11px;
}

.main {
  min-height: calc(100vh - 88px);
  padding-top: 126px;
}
.main--normal {
  padding-top: 0 !important;
}
@media (max-width: 1023px) {
  .main {
    padding-top: 96px;
  }
}
.title {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--Orange, #fe7f00);
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 42px;
  position: relative;
  line-height: 1.3;
}
.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: var(--Line-mod, #D4D4D4);
}
.title--white {
  color: var(--White);
}
.title--two {
  font-size: 48px;
}
.title--mod {
  max-width: max-content;
  padding-right: 64px;
}
@media (max-width: 1023px) {
  .title {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 35px;
    padding-bottom: 21px;
    padding-right: 0;
  }
}

.subtitle {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--Dark, #1d1d1b);
  font-family: var(--Bebas);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1790px;
  width: 100%;
  padding-inline: 60px;
  margin-inline: auto;
}
@media (max-width: 1600px) {
  .wrapper {
    padding-inline: 32px;
  }
}
@media (max-width: 1399px) {
  .wrapper {
    padding-inline: 48px;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    padding-inline: 40px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-inline: 20px;
  }
}

.container {
  max-width: 1185px;
  width: 100%;
  margin-inline: auto;
}

.button {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  outline: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  overflow: visible;
  border: none;
  background-color: transparent;
  color: var(--White);
  padding: 22px 40px;
  flex-shrink: 0;
  font-family: var(--Bebas);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border-radius: 24px;
}
.button span {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.button svg {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-color: var(--PinkRed, #cc1e4b);
  z-index: 0;
  border-radius: 24px;
}
.button:hover::before {
  left: -4px;
  top: -4px;
  bottom: -4px;
  right: -4px;
}
.button--purple::before {
  background-color: var(--DeepPurple);
}
.button--green::before {
  background-color: var(--BrightGreen);
}
.button--red::before {
  background-color: var(--VividRed);
}
.button--white {
  color: var(--PinkRed);
}
.button--white::before {
  background-color: var(--White);
}
.button--yellow {
  color: var(--PinkRed);
}
.button--yellow::before {
  background-color: var(--Yellow);
}
.button--square {
  width: 65px;
  height: 65px;
}
@media (max-width: 767px) {
  .button {
    padding: 17px 40px 14px;
    font-size: 16px;
  }
}

.play-button {
  width: 120px;
  height: 120px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M60.3643 0H60.1457C11.7541 0 0.182149 11.467 0 59.5445C0.182149 108.861 11.1712 120 59.9271 120C108.902 120 119.818 108.861 120 59.5445C119.781 10.9204 108.865 0 60.3643 0Z' fill='%23DB0707'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}
.play-button svg {
  position: relative;
  z-index: 2;
  max-width: 27px;
  flex-shrink: 0;
}
.play-button:hover::before {
  scale: 1.15;
}
@media (max-width: 767px) {
  .play-button {
    width: 80px;
    height: 80px;
  }
}

.button-custom {
  padding: 25px 30px;
  width: 64px;
  height: 64px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-custom::before {
  content: "";
  background-color: transparent;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' fill='none'%3e%3cpath d='M32.1943 0H32.0777C6.26885 0 0.0971463 6.11576 0 31.7571C0.0971463 58.0592 5.95798 64 31.9611 64C58.0809 64 63.9029 58.0592 64 31.7571C63.8834 5.82423 58.0614 0 32.1943 0Z' fill='white'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
.button-custom svg {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  transition: all 0.3s;
}
.button-custom--yellow::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' fill='none'%3e%3cpath d='M32.1943 0H32.0777C6.26885 0 0.0971463 6.11576 0 31.7571C0.0971463 58.0592 5.95798 64 31.9611 64C58.0809 64 63.9029 58.0592 64 31.7571C63.8834 5.82423 58.0614 0 32.1943 0Z' fill='%23FFDD00'/%3e%3c/svg%3e");
}
.button-custom:hover svg {
  scale: 1.15;
}
.button-custom:hover::before {
  scale: 1.15;
}
@media (max-width: 767px) {
  .button-custom {
    padding: 0;
    width: 45px;
    height: 45px;
  }
}

.link-promo {
  display: flex;
  align-items: center;
  max-width: max-content;
}
.link-promo__label {
  display: block;
  color: var(--White, #fff);
  font-family: var(--Bebas);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-inline: 16px;
  flex-shrink: 0;
}
.link-promo svg {
  flex-shrink: 0;
}

.form__group {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
.form__item--mod {
  grid-column: span 3;
}
.form__body {
  margin-bottom: 40px;
}
.form__footer {
  display: grid;
  gap: 32px;
  grid-template-columns: 302px 1fr 156px;
  align-items: center;
  justify-content: space-between;
}
.form__item {
  padding: 4px;
  max-width: 100%;
  width: 100%;
  border-radius: 24px;
  border: 1px solid var(--Line, #d4d4d4);
  transition: border 0.3s;
}
.form__item:has(> textarea) {
  padding-bottom: 0;
}
.form__item:has(input:active), .form__item:has(input:focus), .form__item:has(textarea:active), .form__item:has(textarea:focus) {
  border: 1px solid var(--Dark, #1d1d1b);
}
.form__confurm label {
  margin: 0;
  position: relative;
  padding-left: 48px;
  cursor: pointer;
}
.form__confurm label::before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid var(--Line, #d4d4d4);
  transition: border 0.3s;
}
.form__confurm label::after {
  content: "";
  display: block;
  position: absolute;
  background: var(--White, #fff);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2) inset;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  top: -2px;
  left: 4px;
  transition: background-color 0.3s;
}
.form__confurm input:checked + label::after {
  background: var(--Orange, #fe7f00);
}
@media (max-width: 1200px) {
  .form__group {
    grid-template-columns: repeat(2, 1fr);
  }
  .form__item--mod {
    grid-column: span 2;
  }
}
@media (max-width: 1023px) {
  .form__footer {
    grid-template-columns: 1fr 156px;
  }
  .form .capcha {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .form__footer {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .form__footer .button {
    margin: 0 auto;
  }
  .form .capcha {
    grid-column: initial;
  }
  .form__group {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .form__item--mod {
    grid-column: initial;
  }
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navigation a {
  display: block;
  text-decoration: none;
  color: var(--White, #fff);
  font-family: var(--Bebas);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 6px 48px;
  background-color: transparent;
  text-align: center;
  border: none;
  transition-property: color;
  transition-duration: 0.3s;
  position: relative;
}
.navigation a:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--Line-mod);
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.3s;
}
.navigation a:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 24px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-color: transparent;
  z-index: 0;
}
.navigation a span {
  position: relative;
  z-index: 2;
}
.navigation a:hover,
.navigation a:active,
.navigation a:focus {
  color: var(--PinkRed, #cc1e4b);
}
.navigation a:hover:after,
.navigation a:active:after,
.navigation a:focus:after {
  opacity: 0 !important;
}
.navigation a:hover:before,
.navigation a:active:before,
.navigation a:focus:before {
  background-color: var(--Yellow, #fd0);
  left: -8px;
  top: -8px;
  bottom: -8px;
  right: -8px;
}
.navigation a.current {
  color: var(--Dark, #1d1d1b);
}
.navigation a.current:before {
  background-color: var(--Yellow, #fd0);
  left: -8px;
  top: -8px;
  bottom: -8px;
  right: -8px;
}
.navigation .off:after {
  display: none;
}
@media (max-width: 1600px) {
  .navigation a {
    padding: 6px 28px;
  }
}
@media (max-width: 1200px) {
  .navigation a {
    padding: 6px 16px;
  }
}
@media (max-width: 1023px) {
  .navigation a {
    font-size: 16px;
  }
}

.product-features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  max-width: max-content;
}
.product-features__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  color: var(--White, #fff);
  text-align: center;
  font-family: var(--Bebas);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
}
.product-features__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120' fill='none'%3e%3cpath d='M60.3643 0H60.1457C11.7541 0 0.182149 11.467 0 59.5445C0.182149 108.861 11.1712 120 59.9271 120C108.902 120 119.818 108.861 120 59.5445C119.781 10.9204 108.865 0 60.3643 0Z' fill='%231D1D1B'/%3e%3c/svg%3e");
  z-index: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.product-features__item:hover::before {
  scale: 1.15;
}
.product-features__item span {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.product-features__item b {
  display: block;
  font-size: 64px;
  font-weight: 700;
}
.product-features__item.base::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120' fill='none'%3e%3cpath d='M60.3643 0H60.1457C11.7541 0 0.182149 11.467 0 59.5445C0.182149 108.861 11.1712 120 59.9271 120C108.902 120 119.818 108.861 120 59.5445C119.781 10.9204 108.865 0 60.3643 0Z' fill='%23CC1E4B'/%3e%3c/svg%3e");
}
.product-features__item.purple::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120' fill='none'%3e%3cpath d='M60.3643 0H60.1457C11.7541 0 0.182149 11.467 0 59.5445C0.182149 108.861 11.1712 120 59.9271 120C108.902 120 119.818 108.861 120 59.5445C119.781 10.9204 108.865 0 60.3643 0Z' fill='%23662D91'/%3e%3c/svg%3e");
}
.product-features__item.green::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120' fill='none'%3e%3cpath d='M60.3643 0H60.1457C11.7541 0 0.182149 11.467 0 59.5445C0.182149 108.861 11.1712 120 59.9271 120C108.902 120 119.818 108.861 120 59.5445C119.781 10.9204 108.865 0 60.3643 0Z' fill='%2352AE27'/%3e%3c/svg%3e");
}
.product-features__item.red::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120' fill='none'%3e%3cpath d='M60.3643 0H60.1457C11.7541 0 0.182149 11.467 0 59.5445C0.182149 108.861 11.1712 120 59.9271 120C108.902 120 119.818 108.861 120 59.5445C119.781 10.9204 108.865 0 60.3643 0Z' fill='%23DB0707'/%3e%3c/svg%3e");
}
@media (max-width: 1023px) {
  .product-features {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
}
@media (max-width: 767px) {
  .product-features .product-features__item {
    width: 75px;
    height: 75px;
    font-size: 12px;
  }
  .product-features .product-features__item b {
    font-size: 40px;
  }
}

.video {
  border-radius: 48px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 705px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 42px;
}
.video::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(69, 66, 66, 0.431372549) -581.385px 0px/201.825%;
  position: absolute;
  top: 0;
  left: 0;
}
.video__preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.video .play-button {
  position: relative;
  z-index: 2;
}
@media (max-width: 1200px) {
  .video {
    border-radius: 0;
    height: 768px;
  }
  .video img {
    object-position: center;
  }
}
@media (max-width: 1023px) {
  .video {
    height: 576px;
  }
}
@media (max-width: 767px) {
  .video {
    height: 280px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.advantages__item {
  color: var(--Dark, #1d1d1b);
  font-family: var(--Bebas);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 16px;
  align-items: center;
}
.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
}
.advantages__icon::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' fill='none'%3e%3cpath d='M40.2429 0H40.0971C7.83607 0 0.121433 7.6447 0 39.6963C0.121433 72.5739 7.44748 80 39.9514 80C72.6011 80 79.8786 72.5739 80 39.6963C79.8543 7.28029 72.5768 0 40.2429 0Z' fill='%23FFB00B'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__icon svg {
  z-index: 2;
  position: relative;
  max-width: 26px;
}
.advantages__icon:hover::before {
  scale: 1.15;
}
@media (max-width: 767px) {
  .advantages .advantages__list {
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .advantages .advantages__item {
    font-size: 16px;
  }
  .advantages__icon {
    width: 60px;
    height: 60px;
  }
}

.marker {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--White, #fff);
  text-align: center;
  font-family: var(--Bebas);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.marker span {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.marker::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3e%3cpath d='M24.1457 0H24.0583C4.70164 0 0.0728597 4.58682 0 23.8178C0.0728597 43.5444 4.46849 48 23.9709 48C43.5607 48 47.9271 43.5444 48 23.8178C47.9126 4.36817 43.5461 0 24.1457 0Z' fill='%23CC1E4B'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
.marker:hover::before {
  scale: 1.15;
}
.marker--orange::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3e%3cpath d='M24.1457 0H24.0583C4.70164 0 0.0728597 4.58682 0 23.8178C0.0728597 43.5444 4.46849 48 23.9709 48C43.5607 48 47.9271 43.5444 48 23.8178C47.9126 4.36817 43.5461 0 24.1457 0Z' fill='%23FE7F00'/%3e%3c/svg%3e");
}
@media (max-width: 767px) {
  .marker {
    width: 40px;
    height: 40px;
  }
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.faq__list--mod {
  grid-template-columns: repeat(1, 1fr);
}
@media (max-width: 1200px) {
  .faq__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .faq__list {
    gap: 16px;
  }
}

.accordion {
  padding: 16px 32px;
  color: var(--Dark, #1d1d1b);
  font-size: 16px;
  width: 100%;
  position: relative;
}
.accordion::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  border-radius: 48px;
  background-color: var(--White, #fff);
}
.accordion__head {
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 48px 1fr 48px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.accordion__title {
  display: block;
  margin: 0;
  color: var(--Dark, #1d1d1b);
  font-family: var(--Bebas);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
}
.accordion__body {
  display: grid;
  gap: 24px;
  align-items: flex-start;
  grid-template-columns: 48px 1fr;
  position: relative;
  z-index: 2;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.accordion__icon {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.accordion__icon::before {
  display: block;
  position: absolute;
  content: "";
  top: initial;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 32px;
  height: 4px;
  background-color: var(--Orange-Yellow);
}
.accordion__icon::after {
  display: block;
  position: absolute;
  content: "";
  top: initial;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 32px;
  height: 4px;
  background-color: var(--Orange-Yellow);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion:hover::before, .accordion:active::before, .accordion:focus::before {
  left: -4px;
  top: -4px;
  bottom: -4px;
  right: -4px;
}
@media (max-width: 1200px) {
  .accordion__title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .accordion {
    padding: 13px 20px;
  }
  .accordion .accordion__head {
    gap: 14px;
    grid-template-columns: 40px 1fr 40px;
  }
  .accordion .accordion__body {
    display: block;
  }
  .accordion .accordion__body .marker {
    display: none;
  }
}

.active .accordion__body {
  padding-top: 33px;
  padding-left: 32px;
  padding-bottom: 16px;
  opacity: 1;
  max-height: 1200px;
  will-change: opacity, max-height;
  overflow: initial;
}
.active .accordion__icon::after {
  transform: rotate(0);
}
@media (max-width: 767px) {
  .active .accordion__body {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.contacts-list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 46px;
}
.contacts-list__item {
  color: var(--Dark, #1d1d1b);
  font-family: var(--Bebas);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-left: 56px;
}
.contacts-list__item .icon {
  position: absolute;
  left: 0;
  top: 8px;
}
.contacts-list__item--mod {
  grid-column: span 2;
}
.contacts-list__item span {
  display: block;
  font-family: var(--Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
  text-transform: none;
}
.contacts-list__item a {
  text-decoration: none;
  color: var(--Dark, #1d1d1b);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .contacts-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-bottom: 36px;
  }
  .contacts-list__item--mod {
    grid-column: initial;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
}
.icon::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3e%3cpath d='M20.1214 0H20.0486C3.91803 0 0.0607165 3.82235 0 19.8482C0.0607165 36.287 3.72374 40 19.9757 40C36.3005 40 39.9393 36.287 40 19.8482C39.9271 3.64014 36.2884 0 20.1214 0Z' fill='%23FE7F00'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
.icon svg {
  z-index: 2;
  position: relative;
  max-width: 22px;
}
.icon:hover::before {
  scale: 1.15;
}

.header {
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;
  transition: all 0.4s;
  background: linear-gradient(180deg, #fe7f00 0%, rgba(254, 127, 0, 0) 100%);
}
.header--mod .header__logo {
  opacity: 0;
}
.header--mod .header__wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: max-content;
  justify-content: center;
  margin: 0 auto;
}
.header__wrapper {
  display: grid;
  gap: 32px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--Line-mod);
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.3s;
}
.header__logo {
  display: block;
  max-width: 126px;
  transition: all 0.3s;
}
.header__logo svg {
  width: 100%;
}
.header__logo svg g,
.header__logo svg defs path {
  transition: fill 0.3s;
}
.header__logo:hover svg g,
.header__logo:hover svg defs path {
  transition: fill 0.3s;
  fill: var(--PinkRed);
}
.header .navigation {
  justify-content: flex-end;
  max-width: max-content;
  margin-left: auto;
}
.header__contacts {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.header__contacts a {
  text-decoration: none;
  color: var(--PinkRed, #cc1e4b);
  font-family: var(--Bebas);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: color 0.3s;
}
.header__contacts a:hover {
  color: var(--Dark);
}
.header__contacts a svg {
  transition: scale 0.3s;
}
.header__social {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 16px;
}
.header__social svg {
  max-width: 32px;
}
.header__social * {
  transition: all 0.3s;
}
.header__social:hover {
  color: var(--Dark);
}
.header__social:hover svg {
  scale: 1.3;
}
.header__social.whatsapp:hover circle, .header__social.whatsapp:focus circle, .header__social.whatsapp:active circle {
  fill: var(--White);
}
.header__social.whatsapp:hover path, .header__social.whatsapp:focus path, .header__social.whatsapp:active path {
  fill: #54ae39;
}
.header .button-menu {
  display: none;
}
@media (max-width: 1023px) {
  .header .header__logo {
    max-width: 80px;
  }
  .header .header__wrapper {
    gap: 12px;
    grid-template-columns: auto 1fr auto;
  }
  .header .header__social {
    margin-left: 8px;
  }
  .header .header__contacts {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .header__wrapper {
    grid-template-columns: auto 1fr 45px;
  }
  .header--mod .header__wrapper {
    max-width: 100%;
  }
  .header__navigation {
    display: none;
  }
  .header .button-menu {
    display: flex;
  }
  .header .header__contacts {
    margin-left: auto;
  }
}

.footer {
  background-color: var(--PinkRed);
  color: var(--White);
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 50;
}
.footer__wrapper {
  display: grid;
  gap: 32px;
  align-items: center;
  grid-template-columns: 3fr 6fr 3fr;
}
.footer__text {
  color: var(--White, #fff);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.footer__text a {
  text-decoration: none;
  color: var(--White);
}
.footer__text span {
  color: var(--Yellow, #fd0);
}
.footer__text b {
  font-weight: 700;
}
.footer__link {
  display: flex;
  align-items: center;
}
.footer__link svg {
  margin-left: 16px;
  width: 48px;
  transition: scale 0.3s;
}
.footer__link svg:hover, .footer__link svg:active, .footer__link svg:focus {
  scale: 1.2;
}
.footer__link:hover span, .footer__link:active span, .footer__link:focus span {
  text-decoration: underline;
}
@media (max-width: 1439px) {
  .footer__link div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer__wrapper {
    gap: 16px;
    grid-template-columns: 195px 1fr 195px;
  }
}
@media (max-width: 1023px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
  }
  .footer__text {
    text-align: left;
  }
  .footer__link svg {
    margin-left: 0;
    margin-right: 16px;
  }
  .footer__link {
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: auto;
    max-width: max-content;
  }
  .footer__link div {
    display: block;
  }
}
@media (max-width: 767px) {
  .footer .navigation {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .navigation a {
    font-size: 20px;
    padding: 10px 0;
    color: var(--White);
    align-items: flex-start;
    text-align: left;
  }
  .footer .navigation a:hover, .footer .navigation a:focus, .footer .navigation a:active {
    color: var(--Yellow);
  }
  .footer .navigation li {
    width: 100%;
    border-bottom: 1px solid var(--Line-mod);
  }
  .footer .navigation a:after {
    display: none;
  }
  .footer .navigation a:before {
    display: none;
  }
}

.hero {
  min-height: 1080px;
  position: relative;
  background-color: var(--Orange-Yellow);
  margin-bottom: -175px;
}
@media (max-width: 1600px) {
  .hero {
    margin-bottom: -65px;
    min-height: 895px;
  }
}
@media (max-width: 1399px) {
  .hero {
    margin-bottom: -65px;
    min-height: 768px;
  }
}
@media (max-width: 1023px) {
  .hero {
    margin-bottom: -30px;
    min-height: 1024px;
  }
}
@media (max-width: 767px) {
  .hero {
    min-height: 665px;
  }
}

.hero--static {
  position: relative;
}
.hero--static .wrapper {
  display: contents;
}
.hero--static .hero__image-bg img {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.hero--contacts {
  min-height: initial;
  z-index: 1;
}
.hero--contacts .wrapper {
  display: contents;
}

.promo-card {
  color: var(--Dark, #1d1d1b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 170px;
  padding-bottom: 165px;
  position: relative;
}
.promo-card__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}
.promo-card__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.promo-card__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 4fr 8fr;
  align-items: center;
}
.promo-card__grid-right {
  margin-left: auto;
  position: relative;
  z-index: 2;
}
.promo-card__grid-left {
  position: relative;
  z-index: 2;
}
.promo-card__logo {
  margin-bottom: 40px;
}
.promo-card__logo img {
  display: block;
}
.promo-card__text {
  margin: 0;
  margin-bottom: 42px;
}
.promo-card__buttons {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: max-content;
}
.promo-card__group {
  display: contents;
}
@media (max-width: 1399px) {
  .promo-card {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .promo-card__grid {
    grid-template-columns: 5fr 7fr;
  }
}
@media (max-width: 1023px) {
  .promo-card {
    padding-top: 40px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, #fe7f00, #fe7f00 50%, #ffb00b 50%);
  }
  .promo-card .wrapper {
    padding-inline: 0;
  }
  .promo-card__grid {
    grid-template-columns: 1fr;
  }
  .promo-card__photo {
    position: relative;
  }
  .promo-card__grid-right {
    margin-right: auto;
    padding-inline: 40px;
  }
  .promo-card__grid-left {
    padding-inline: 40px;
    display: grid;
    gap: 0 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  .promo-card__group {
    display: block;
  }
  .promo-card__buttons {
    gap: 16px;
  }
  .promo-card--mod .promo-card__logo {
    margin-inline: auto;
    max-width: 275px;
  }
  .promo-card--mod .promo-card__group {
    max-width: max-content;
    margin: 0 auto;
  }
  .promo-card--mod .promo-card__group .button {
    font-size: 20px;
  }
  .promo-card--mod .promo-card__photo {
    margin-top: -100px;
  }
  .promo-card--mod .promo-card__grid-left {
    grid-template-columns: repeat(1, 1fr);
  }
  .promo-card--mod .promo-card__photo {
    position: absolute;
  }
  .promo-card--mod .promo-card__grid {
    grid-template-columns: 5fr 7fr;
  }
  .promo-card--mod .product-features {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    max-width: max-content;
  }
  .promo-card--mod .promo-card__grid-right {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .promo-card {
    background: linear-gradient(to bottom, #fe7f00, #fe7f00 60%, #ffb00b 50%);
  }
  .promo-card__grid-right {
    padding-inline: 20px;
  }
  .promo-card__grid-left {
    padding-inline: 20px;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .promo-card .promo-card__grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .promo-card .promo-card__buttons {
    grid-column-start: initial;
  }
  .promo-card--mod .promo-card__photo {
    position: relative;
  }
  .promo-card--mod .product-features {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
  .promo-card--mod .promo-card__grid-right {
    margin-right: auto;
  }
}

.about {
  margin-top: -48px;
  margin-bottom: -48px;
  display: grid;
  overflow: hidden;
  position: relative;
  gap: 0;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.about .wrapper {
  display: contents;
}
.about .content {
  padding-top: 80px;
  padding-right: 64px;
  padding-bottom: 80px;
  margin-right: -48px;
  position: relative;
  z-index: 2;
  border-radius: 0 48px 48px 0;
  padding-left: 0;
}
.about .content::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  right: 100%;
  background-color: var(--White);
  z-index: -4;
}
.about .video img {
  object-position: left;
}
.about__text {
  margin-bottom: 42px;
  margin-top: 0;
}
.about .video {
  border-radius: 48px 0 0 48px;
  height: 832px;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .about {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .about .wrapper {
    display: block;
    order: 2;
  }
  .about .content {
    margin: 0;
    margin-top: -48px;
    border-radius: 48px;
    padding: 60px 65px;
    max-width: 100%;
  }
  .about .content::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .about .content {
    padding: 30px 25px;
  }
}

.mob-nav {
  position: absolute;
  z-index: 100;
  background-color: var(--White);
  color: var(--Dark, #1d1d1b);
  width: 100vw;
  height: 100vh;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  pointer-events: none;
}
.mob-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}
.mob-nav__item {
  position: relative;
}
.mob-nav__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--Line-mod);
}
.mob-nav__link {
  color: var(--Dark, #1d1d1b);
  font-family: var(--Bebas);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 45px;
  gap: 12px;
  position: relative;
}
.mob-nav__link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;
}
.mob-nav__link span {
  position: relative;
  z-index: 2;
}
.mob-nav__link:hover::before, .mob-nav__link:active::before, .mob-nav__link:focus::before {
  background-color: var(--Yellow, #fd0);
  top: -8px;
  bottom: -8px;
}
.mob-nav__icon {
  position: relative;
  z-index: 2;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-nav__icon::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45' fill='none'%3e%3cpath d='M22.6366 0H22.5546C4.40779 0 0.068306 4.30014 0 22.3292C0.068306 40.8228 4.18921 45 22.4727 45C40.8381 45 44.9317 40.8228 45 22.3292C44.918 4.09516 40.8245 0 22.6366 0Z' fill='%23FE7F00'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
.mob-nav__icon svg {
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}
.mob-nav__icon:hover::before {
  scale: 1.15;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45' fill='none'%3e%3cpath d='M22.6366 0H22.5546C4.40779 0 0.068306 4.30014 0 22.3292C0.068306 40.8228 4.18921 45 22.4727 45C40.8381 45 44.9317 40.8228 45 22.3292C44.918 4.09516 40.8245 0 22.6366 0Z' fill='%23CC1E4B'/%3e%3c/svg%3e");
}

.product-details {
  position: relative;
  z-index: 5;
  margin-bottom: 80px;
}
.product-details .content {
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .product-details {
    margin-bottom: 50px;
    padding-top: 0;
  }
}

.faq-section {
  padding: 35px 0px 80px;
}

.photo-slider {
  padding-inline: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.photo-slider__wrapper {
  position: relative;
}
.photo-slider img {
  width: 100%;
  display: block;
}
.photo-slider .swiper-button {
  width: 80px;
  height: 160px;
  position: absolute;
  z-index: 22;
  top: calc(50% - 80px);
}
.photo-slider .swiper-button svg {
  width: 21px;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.photo-slider .swiper-button::after {
  display: none;
}
.photo-slider .swiper-button-prev {
  left: -1px;
  right: auto;
}
.photo-slider .swiper-button-prev svg {
  position: relative;
  left: -15px;
}
.photo-slider .swiper-button-prev::before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='160' viewBox='0 0 80 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0C44.1828 0 80 35.8172 80 80C80 124.183 44.1828 160 0 160V0Z' fill='%23FFB00B'/%3e%3c/svg%3e ");
  background-size: contain;
}
.photo-slider .swiper-button-next {
  left: auto;
  right: -1px;
}
.photo-slider .swiper-button-next svg {
  position: relative;
  right: -15px;
}
.photo-slider .swiper-button-next::before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='160' viewBox='0 0 80 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M80 160C35.8172 160 0 124.183 0 80C0 35.8172 35.8172 0 80 0V160Z' fill='%23FFB00B'/%3e%3c/svg%3e ");
  background-size: contain;
}
@media (max-width: 1024px) {
  .photo-slider {
    padding-inline: 16px;
  }
  .photo-slider .swiper-button {
    width: 30px;
    height: 60px;
    top: calc(50% - 30px);
  }
  .photo-slider .swiper-button svg {
    width: 16px;
  }
  .photo-slider .swiper-button-next svg {
    right: -9px;
  }
  .photo-slider .swiper-button-prev svg {
    left: -9px;
  }
}

.map {
  position: relative;
}
.map img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
  position: absolute;
  z-index: 0;
}
.map__content {
  position: relative;
  z-index: 10;
  height: 960px;
  width: 100%;
}
.map [class*=copyrights-pane] {
  display: none !important;
}
@media (max-width: 1600px) {
  .map__content {
    height: 768px;
  }
}
@media (max-width: 1023px) {
  .map__content {
    height: 647px;
  }
}
@media (max-width: 767px) {
  .map__content {
    height: 400px;
  }
}

.hero-slider {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.hero-slider__item {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-slider__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.hero-slider__footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: 10;
}
.hero-slider__footer-grid {
  display: grid;
  gap: 32px;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
.hero-slider__navigation {
  display: flex;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  justify-content: flex-end;
}
.hero-slider__navigation .hero-slider__pagination {
  margin-right: 16px;
}
.hero-slider__buttons {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  max-width: max-content;
}
.hero-slider__pagination {
  color: var(--White, #fff);
  font-family: var(--Bebas);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  display: block;
  margin: 0;
}
.hero-slider .button,
.hero-slider .button-custom {
  position: relative;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
}

.hero-slider {
  position: relative;
}
.hero-slider__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  display: block;
}
.hero-slider__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  z-index: 2;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}
.hero-slider__grid-item {
  grid-column: span 3;
}
.hero-slider__grid-item.hide {
  margin-top: -56px;
}
.hero-slider__grid-item .button {
  margin: 0 auto;
}
.hero-slider__grid-item img {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}
.hero-slider__grid-item:nth-child(2) {
  grid-column-start: 10;
  grid-column-end: 13;
}
.hero-slider .home-slider__photo-slide .swiper-slide {
  position: relative;
  transform-origin: 0%;
  transition: all 0.3s;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.hero-slider__image img {
  transition: all 45000ms;
}
.swiper-slide-active .hero-slider__image img {
  transform-origin: center;
  animation: grow 45000ms ease;
}
@media (max-width: 1600px) {
  .hero-slider__grid {
    min-height: 896px;
    height: 896px;
  }
}
@media (max-width: 1399px) {
  .hero-slider__grid {
    min-height: 768px;
    height: 768px;
  }
}
@media (max-width: 1023px) {
  .hero-slider {
    background: var(--Orange-Yellow, #ffb00b);
  }
  .hero-slider__grid {
    height: initial;
    min-height: initial;
  }
  .hero-slider__image img {
    object-position: bottom;
  }
  .hero-slider__grid {
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    z-index: 2;
    align-items: flex-start;
    padding-top: 132px;
  }
  .hero-slider__grid-item {
    grid-column: span 3;
  }
  .hero-slider__grid-item:nth-child(2) {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-column: span 3;
  }
  .hero-slider__image img {
    width: 100%;
    height: initial;
    object-fit: contain;
    z-index: 0;
    display: block;
  }
  .hero-slider__image {
    width: 100%;
    height: initial;
    position: initial;
    top: 0;
    left: 0;
  }
  .hero-slider__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-slider__image {
    order: 2;
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
  }
  .hero-slider__grid {
    order: 1;
  }
  .hero-slider__grid .button {
    position: initial;
    transform: translateX(-50%);
    margin-left: -16px;
  }
  .hero-slider__grid-item img {
    margin-bottom: 20px;
  }
  .hero-slider__grid-item.hide {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .hero-slider {
    padding-bottom: 32px;
  }
  .hero-slider__footer {
    bottom: 20px;
  }
  .hero-slider__footer-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: flex-end;
  }
  .hero-slider .link-promo {
    display: none;
  }
  .hero-slider__grid {
    display: block;
    margin: 0 auto;
  }
  .hero-slider .hide {
    display: none;
  }
  .hero-slider__grid .button {
    position: relative;
    transform: none;
    margin-left: 0;
    margin: 0 auto;
  }
  .hero-slider__grid-item:nth-child(2) {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-column: initial;
  }
  .hero-slider__grid-item {
    max-width: 195px;
    margin-bottom: 16px;
  }
  .hero-slider__grid-item img {
    margin: 0;
  }
  .hero-slider__grid {
    padding-top: 114px;
  }
  .hero-slider__grid-item img {
    margin-bottom: 10px !important;
  }
  .hero-slider__image {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

.inner-page {
  background-color: var(--Orange-Yellow);
}
.inner-page .header {
  background: var(--Orange, #fe7f00);
}
.inner-page .main {
  padding-top: 124px;
}
@media (max-width: 1023px) {
  .inner-page .main {
    padding-top: 80px;
  }
}
.simple-page {
  background-color: var(--Orange-Yellow);
}
.simple-page .header {
  background-color: transparent;
}
.simple-page .main {
  padding-top: 0;
}

.contacts-page .header {
  background: #fe7f00; /* Фоновый цвет */
}

.header-sticky .header {
  background: var(--White) !important;
  border-bottom: 1px solid var(--Line-mod);
}
.header-sticky .header__wrapper {
  border-bottom-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-sticky .header__logo {
  max-width: 90px;
  opacity: 1;
}
.header-sticky .header__logo svg g,
.header-sticky .header__logo svg defs path {
  transition: fill 0.3s;
  fill: var(--PinkRed);
}
.header-sticky .header__navigation a {
  color: var(--Dark);
}
@media (max-width: 1023px) {
  .header-sticky .header__logo {
    max-width: 70px;
  }
}

.menu-open {
  overflow: hidden;
}
.menu-open .header {
  background: var(--White);
}
.menu-open .header__logo {
  max-width: 90px;
  opacity: 1;
}
.menu-open .header__logo svg g,
.menu-open .header__logo svg defs path {
  transition: fill 0.3s;
  fill: var(--PinkRed);
}
.menu-open .mob-nav {
  opacity: 1;
  visibility: initial;
  pointer-events: initial;
}
.menu-open .header__wrapper {
  border-bottom: 1px solid var(--Line-mod);
}
@media (max-width: 1023px) {
  .menu-open .header__logo {
    max-width: 70px;
  }
}