.header-sticky {
  .header {

    background: var(--White) !important;
    border-bottom: 1px solid var(--Line-mod);
  }
  .header__wrapper {
    border-bottom-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header__logo {
    max-width: 90px;
    opacity: 1;
    svg g,
      svg defs path {
        transition: fill 0.3s;
        fill: var(--PinkRed);
      }
  }
  .header__navigation a {
    color: var(--Dark);
  }

  @media (max-width: 1023px) {
    .header__logo {
      max-width: 70px;
    }
  }
}
