.about {
  margin-top: -48px;
  margin-bottom: -48px;
  display: grid;
  overflow: hidden;
  position: relative;
  gap: 0;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  .wrapper {
    display: contents;
  }
  .content {
    padding-top: 80px;
    padding-right: 64px;
    padding-bottom: 80px;
    margin-right: -48px;
    position: relative;
    z-index: 2;
    border-radius: 0 48px 48px 0;
    padding-left: 0;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      right: 100%;
      background-color: var(--White);
      z-index: -4;
    }
  }
  .video img {
    object-position: left;
  }
  &__text {
    margin-bottom: 42px;
    margin-top: 0;
  }
}
