.footer {
  background-color: var(--PinkRed);
  color: var(--White);
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 50;
  &__wrapper {
    display: grid;
    gap: 32px;
    align-items: center;
    grid-template-columns: 350px 1fr 260px;
  }

  &__text {
    color: var(--White, #fff);
    // text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    a {
      text-decoration: none;
      color: var(--White);
    }
    span {
      color: var(--Yellow, #fd0);
    }
    b {
      font-weight: 700;
    }
    &--mod {
      text-align: right;
    }
  }
  &__link {
    display: flex;
    align-items: center;

    svg {
      margin-left: 16px;
      width: 48px;
      transition: scale 0.3s;
      &:hover,
      &:active,
      &:focus {
        scale: 1.2;
      }
    }
    &:hover,
    &:active,
    &:focus {
      span {
        text-decoration: underline;
      }
    }
  }
  .navigation {
    justify-content: center;
  }

  @media (max-width: 1600px) {
    &__wrapper {
      grid-template-columns: 195px 1fr 195px;
    }
    &__link {
      display: grid;
      gap: 0 16px;
      grid-template-columns: 130px 48px;

      svg {
        grid-column: 2;
        grid-row: 1;
        margin: 0;
        margin-bottom: -26px;
      }
    }
  }

  @media (max-width: 1439px) {
    &__link {
      div {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    &__wrapper {
      gap: 16px;
      grid-template-columns: 195px 1fr 195px;
    }
    // .navigation a {
    //   padding-inline: 16px;
    // }
  }
  @media (max-width: 1023px) {
    padding-top: 35px;
    padding-bottom: 35px;
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__text {
      text-align: left;
    }
    &__link svg {
      margin-left: 0;
      margin-right: 16px;
    }
    &__link {
      flex-direction: row-reverse;
      justify-content: flex-start;
      margin-right: auto;
      max-width: max-content;
    }
    &__link div {
      display: block;
    }
    .footer__link {
      display: block;
      position: relative;
      padding-left: calc(48px + 16px);
      padding-top: 13px;
      padding-bottom: 13px;

      svg {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .navigation {
      justify-content: flex-start;
      margin-left: -16px;
  }
  }

  @media (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 30px;
    .navigation {
      flex-direction: column;
      align-items: flex-start;
    }
    .navigation a {
      font-size: 20px;
      padding: 10px 0;
      color: var(--White);
      align-items: flex-start;
      text-align: left;
      &:hover,
      &:focus,
      &:active {
        color: var(--Yellow);
      }
    }
    .navigation li {
      width: 100%;
      border-bottom: 1px solid var(--Line-mod);
    }
    .navigation a:after {
      display: none;
    }
    .navigation a:before {
      display: none;
    }
    .navigation {
      margin-left: 0;
  }
  }
}
