.header {
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;
  transition: all 0.4s;
  background: linear-gradient(180deg, #fe7f00 0%, rgba(254, 127, 0, 0) 100%);

  &--mod {
    .header__logo {
      opacity: 0;
    }
    .header__wrapper {
      padding-top: 32px;
      padding-bottom: 32px;
      max-width: max-content;
      justify-content: center;
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid var(--Line-mod);
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all 0.3s;
  }
  &__logo {
    display: block;
    max-width: 126px;
    transition: all 0.3s;
    svg {
      width: 100%;
    }
    svg g,
    svg defs path {
      transition: fill 0.3s;
    }

    &:hover {
      svg g,
      svg defs path {
        transition: fill 0.3s;
        fill: var(--PinkRed);
      }
    }
  }
  .navigation {
    justify-content: flex-end;
    max-width: max-content;
    margin-left: auto;
  }
  &__contacts {
    margin-left: 16px;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--PinkRed, #cc1e4b);
      font-family: var(--Bebas);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      transition: color 0.3s;
      &:hover {
        color: var(--Dark);
      }
      svg {
        transition: scale 0.3s;
      }
    }
  }
  &__social {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    svg {
      max-width: 32px;
    }
    * {
      transition: all 0.3s;
    }
    &:hover {
      color: var(--Dark);

      svg {
        scale: 1.3;
      }
    }

    &.whatsapp:hover,
    &.whatsapp:focus,
    &.whatsapp:active {
      circle {
        fill: var(--White);
      }
      path {
        fill: #54ae39;
      }
    }
  }
  .button-menu {
    display: none;
  }

  @media (max-width: 1023px) {
    .header__logo {
      max-width: 70px;
    }
    .header__wrapper {
      gap: 12px;
      grid-template-columns: auto 1fr auto;
    }
    .header__social {
      margin-left: 8px;
    }
    .header__contacts {
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    .header__wrapper {
      grid-template-columns: auto 1fr 45px;
    }
    &--mod .header__wrapper {
      max-width: 100%;
    }
    .header__navigation {
      display: none;
    }
    .button-menu {
      display: flex;
    }
    .header__contacts {
      margin-left: auto;
    }
  }
}
