.photo-slider {
  padding-inline: 64px;
  padding-top: 16px;
  padding-bottom: 16px;

  &__wrapper {
    position: relative;
  }
  img {
    width: 100%;
    display: block;
  }
  // .swiper {
  //   overflow: initial;
  // }

  .swiper-button {
    width: 80px;
    height: 160px;
    position: absolute;
    z-index: 22;
    top: calc(50% - 80px);
    svg {
      width: 21px;
      position: relative;
      z-index: 2;
      pointer-events: none;
    }
    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: -1px;
    right: auto;
    svg {
      position: relative;
      left: -15px;
    }
    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='160' viewBox='0 0 80 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0C44.1828 0 80 35.8172 80 80C80 124.183 44.1828 160 0 160V0Z' fill='%23FFB00B'/%3e%3c/svg%3e ");
      background-size: contain;
    }
  }

  .swiper-button-next {
    left: auto;
    right: -1px;
    svg {
      position: relative;
      right: -15px;
    }

    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='160' viewBox='0 0 80 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M80 160C35.8172 160 0 124.183 0 80C0 35.8172 35.8172 0 80 0V160Z' fill='%23FFB00B'/%3e%3c/svg%3e ");
      background-size: contain;
    }
  }

  @media (max-width: 1024px) {
    padding-inline: 16px;

    .swiper-button {
      width: 30px;
      height: 60px;
      top: calc(50% - 30px);
    }
    .swiper-button svg {
      width: 16px;
    }
    .swiper-button-next svg {
      right: -9px;
    }
    .swiper-button-prev svg {
      left: -9px;
    }
  }
}
