.button {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  outline: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  overflow: visible;
  border: none;
  background-color: transparent;
  color: var(--White);
  padding: 22px 40px;
  flex-shrink: 0;
  font-family: var(--Bebas);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border-radius: 24px;
  span {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
  }
  svg {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-color: var(--PinkRed, #cc1e4b);
    z-index: 0;
    border-radius: 24px;
  }

  &:hover {
    &::before {
      left: -4px;
      top: -4px;
      bottom: -4px;
      right: -4px;
    }
  }

  &--purple {
    &::before {
      background-color: var(--DeepPurple);
    }
  }
  &--green {
    &::before {
      background-color: var(--BrightGreen);
    }
  }
  &--red {
    &::before {
      background-color: var(--VividRed);
    }
  }

  &--white {
    color: var(--PinkRed);
    &::before {
      background-color: var(--White);
    }
  }
  &--yellow {
    color: var(--PinkRed);
    &::before {
      background-color: var(--Yellow);
    }
  }
  &--square {
    width: 65px;
    height: 65px;
  }

  @media (max-width: 767px) {
    padding: 17px 40px 14px;
    font-size: 16px;
  }
}

.play-button {
  width: 120px;
  height: 120px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M60.3643 0H60.1457C11.7541 0 0.182149 11.467 0 59.5445C0.182149 108.861 11.1712 120 59.9271 120C108.902 120 119.818 108.861 120 59.5445C119.781 10.9204 108.865 0 60.3643 0Z' fill='%23DB0707'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }
  svg {
    position: relative;
    z-index: 2;
    max-width: 27px;
    flex-shrink: 0;
  }

  &:hover {
    &::before {
      scale: 1.15;
    }
  }

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
  }
}

.button-custom {
  padding: 25px 30px;
  width: 64px;
  height: 64px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    background-color: transparent;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3e%3cpath d='M32.1943 0H32.0777C6.26885 0 0.0971463 6.11576 0 31.7571C0.0971463 58.0592 5.95798 64 31.9611 64C58.0809 64 63.9029 58.0592 64 31.7571C63.8834 5.82423 58.0614 0 32.1943 0Z' fill='white'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
  }
  svg {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    transition: all 0.3s;
  }

  &--yellow::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3e%3cpath d='M32.1943 0H32.0777C6.26885 0 0.0971463 6.11576 0 31.7571C0.0971463 58.0592 5.95798 64 31.9611 64C58.0809 64 63.9029 58.0592 64 31.7571C63.8834 5.82423 58.0614 0 32.1943 0Z' fill='%23FFDD00'/%3e%3c/svg%3e");
  }

  &:hover {
    svg {
      scale: 1.15;
    }
    &::before {
      scale: 1.15;
    }
  }
}
