.content {
  padding: 60px 65px;
  border-radius: 48px;
  background: var(--White);
  max-width: 1185px;
  width: 100%;
  margin-inline: auto;
  margin-top: 32px;
  margin-bottom: 32px;

  &--mod {
    background: transparent;
  }
}
