.faq {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 1200px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 767px) {
    &__list {
      gap: 16px;
    }
  }
}
