.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    display: block;
    text-decoration: none;
    color: var(--White, #fff);
    font-family: var(--Bebas);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 6px 48px;
    background-color: transparent;
    text-align: center;
    border: none;
    transition-property: color;
    transition-duration: 0.3s;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: var(--Line);
      top: 0;
      right: 0;
      opacity: 1;
      transition: opacity 0.3s;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 24px;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      background-color: transparent;
      z-index: 0;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }
  a:hover,
  a:active,
  a:focus {
    color: var(--PinkRed, #CC1E4B);

    &:after {
      opacity: 0 !important;
    }
    &:before {
      background-color: var(--Yellow, #fd0);
      left: -8px;
      top: -8px;
      bottom: -8px;
      right: -8px;
    }
  }
  .off {
    &:after {
      display: none;
    }
  }
}
