.title {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--Orange, #fe7f00);
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 42px;
  position: relative;
  line-height: 1.3;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: var(--Line-mod, #D4D4D4);
  }
  &--white {
    color: var(--White);
  }

  &--two {
    font-size: 48px;
  }
  &--mod {
    max-width: max-content;
    padding-right: 64px;
  }

  @media (max-width: 1023px) {
    font-size: 64px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
    padding-bottom: 21px;
  }
}


